<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>KIT ADMIN</title>
    <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="__ADMIN__/plugins/font-awesome/css/font-awesome.min.css" media="all"/>
    <link rel="stylesheet" href="__ADMIN__/src/css/app.css" media="all"/>
    <link rel="stylesheet" href="__ADMIN__/src/css/themes/default.css" media="all" kit-skin/>
    <link rel="stylesheet" href="__ADMIN__/src/css/message.css" media="all" kit-skin/>
    <link rel="stylesheet" href="__ADMIN__/src/css/nprogress.css" media="all" kit-skin/>
</head>

{__CONTENT__}

